@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,900;1,600&display=swap');
body {
    margin:0px;
    padding:0px;
    font-family: Nunito;
}
nav ul, 
nav li {
    list-style: none;
    margin:0px;
    padding: 0px;

}
nav ul {
    display: flex; 
}

nav a {
   display: inline-block;
    padding-top:7px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;

}
.container-2 {
    display: flex; 
    justify-content: space-between;
    width: 1045px;
    
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-top: 15px;
}
#banner {
    display: flex; 
    justify-content: center;
    height: 640px;
    width: 100%;
    background-image: url("../img/logo-qs.png");
    background-size: cover;
    margin-top:-500px; 
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height:100%;
}

.container-banner {
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
}
.rectangle {
    background-color: #FFCD32;
    width: 100%;
    max-width: 600px;
    height: 140px;
}
.text {
    margin-top: -25px;
    font-size: 48px;
    line-height: 180px;
    font-weight: bold;
    color: #2661D8;
    text-align: center;

}
article {
    background-color: #F6F8FB;
    border-bottom: 10px solid #2661D8;
    
}
.color {
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 30%, rgba(38, 97, 216, 50%));
}
.project-title{
    display: flex;
    justify-content: center;
    font-size:36px;
    color:#2661D8;
    font-weight: bold;
   margin-top: 20px;
}
.center {
    display: flex;
    width: 100%;
    justify-content: center;

}
.op {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1045px;
    margin-top:-200px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    background-color: #FFF;
    box-shadow: 0px 18px 30px rgba(15, 52, 71, 0.2);
}
.container-flax {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
}

.case2 {
 
    height: 500px;
    margin-top: 00px;
    padding-top: 00px;
}
.case3 {
 /* width: 100px;*/
 
 margin-top: 00px;
 padding-top: 00px;
}
.case4 {
 /* width: 100px;*/
 height: 500px;
 margin-top: 00px;
 padding-top: -0px;
}

.bolinha {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #FFCD32;
    border-radius: 15px;
    margin-top: 6px;
    margin-left: 40px;
}
.aideia {
    font-family:nunito;
    text-align: center;
    color:#2661D8;
    font-size: 30px;
    margin-bottom: 10px;
}
.border {
    border-bottom: 3px solid #FFCD32 !important;
    width: 308px;
    padding-bottom: 10px;
}

.imagens-1 img{
     display: flex;
    justify-content: flex-start;
    max-width: 400px;
    
}
.text-1 {
    display: flex;
    align-items: center;
    max-width: 1045px;
}
.text-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1045px;    
    height: 315px;
margin: 50px;
}
.imagens-2 img{
     display: flex;
    justify-content: flex-start;
    max-width: 400px;
  
}
.texto1 {
    font-family:Quicksand;
   font-size: 18px;
   width: 50%;
   line-height: 30px;
}
.texto2 {
    font-family:Quicksand;
 line-height: 30px;
 font-size: 18px;
 width: 50%;
 
}
.text-3 {
    display: flex;
    justify-content: flex-end;
    max-width: 1045px;   
    height: 340px;
    align-items: center;
}
.texto3 {
    font-family:Quicksand;
    line-height: 30px;
    font-size: 18px;
    line-height: 30px;
    font-size: 18px;
    width: 50%;

}
.imagens-3 img {
display: flex;
justify-content: flex-start;
width: 480px;
}
.imagens-4 img {
     display: flex;
    justify-content: flex-start;
    max-width: 400px;
    padding-bottom: 30px;
}
.text-4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1045px;   
    margin: 50px;
}
.texto4 {
    font-family:Quicksand;
    line-height: 30px;
    font-size: 18px;
    width: 50%;

}
#fotos-membros img {

    height: 220px;
    border-radius:120px;
    margin-left:90px;
    margin-top: 70px;

}
#time {
    font-size: 25px;
    color:#FFF;
    background-color: #2661D8;
    width: 100%;
    max-width: 500px;
    height: 90px;
    margin-top: 80px;
}
#time h2 {
    text-align: center;
    padding-top: 23px;
}
#fotos-membros {

/*justify-content: center;*/
 display: flex;
 flex-wrap: wrap;
 
}
.nome {
    margin-left: 90px;
font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 12px;
color: #0F3447;
text-align: center;

}
.sub {
    font-family:Quicksand;
     margin-left: 90px;
    font-size: 18px;
text-align: center;
    color:#2661D8;
    line-height: 10px;
}
.sub1 {
    font-family:Quicksand;
    color: #0F3447;
     margin-left: 90px;
    text-align: center;
     font-size: 18px;
}
.footer-enphatos {
    display:flex;
    height: 400px;
    background-color: #0F3447;
    box-shadow: 10px 0px 30px rgba(12, 40, 55, 0.2);
    border:1px solid #000;
    margin-top: 70px;
    
}
.sub-footer-enphatos {
    display: flex;
    flex-direction: column;
    margin-left:185px;
    width: 1045px;
    height: 400px;
}
.enphatos{
    font-size:40px;
    font-weight: bold;
    font-family: Nunito;
    margin-top:40px;
    
}
.enphatos p{
    display: inline-block;
    text-decoration:none;
    color:#0F3447;
    background-color:#FFF;
    margin-left: -45px;
}
.enphatos-text {
    width: 580px;
    height: 120px;
    
}
.enphatos-text p {
    font-size:18px;
    color:#FFF;
    margin-left: -45px;
}
.address {
    max-width: 1045px;
    height: 35px;
}

.address p{
    color:#FFF;
    font-size:22px;
    line-height: 35px;
    margin-left: -45px;
}